/AllPassangersWithTargetProcessor.java
/AllPassangersWithTargetQuerySpecification.java
/AllpassangersProcessor.java
/AllpassangersQuerySpecification.java
/DangerousPassangersAtOnePlaceProcessor.java
/DangerousPassangersAtOnePlaceQuerySpecification.java
/FreeSeatsDecProcessor.java
/FreeSeatsDecQuerySpecification.java
/GetIntoProcessor.java
/GetIntoQuerySpecification.java
/GetOutProcessor.java
/GetOutQuerySpecification.java
/NullPassangerAtWrongPlaceProcessor.java
/NullPassangerAtWrongPlaceQuerySpecification.java
/NumberOfPassangersOnLandProcessor.java
/NumberOfPassangersOnLandQuerySpecification.java
/PassangerAtRightPlaceProcessor.java
/PassangerAtRightPlaceQuerySpecification.java
/PassangerNotAtRightPlaceProcessor.java
/PassangerNotAtRightPlaceQuerySpecification.java
/PassangerOnMoreLandsProcessor.java
/PassangerOnMoreLandsQuerySpecification.java
/PassangerWithLandProcessor.java
/PassangerWithLandQuerySpecification.java
/PassangerWithoutLandProcessor.java
/PassangerWithoutLandQuerySpecification.java
/PassangersOnLandProcessor.java
/PassangersOnLandQuerySpecification.java
/SwitchLandProcessor.java
/SwitchLandQuerySpecification.java
/TravelerProcessor.java
/TravelerQuerySpecification.java
/UsedSeatsProcessor.java
/UsedSeatsQuerySpecification.java
/.AllPassangersWithTargetProcessor.java._trace
/.AllPassangersWithTargetQuerySpecification.java._trace
/.AllpassangersProcessor.java._trace
/.AllpassangersQuerySpecification.java._trace
/.DangerousPassangersAtOnePlaceProcessor.java._trace
/.DangerousPassangersAtOnePlaceQuerySpecification.java._trace
/.FreeSeatsDecProcessor.java._trace
/.FreeSeatsDecQuerySpecification.java._trace
/.GetIntoProcessor.java._trace
/.GetIntoQuerySpecification.java._trace
/.GetOutProcessor.java._trace
/.GetOutQuerySpecification.java._trace
/.NullPassangerAtWrongPlaceProcessor.java._trace
/.NullPassangerAtWrongPlaceQuerySpecification.java._trace
/.NumberOfPassangersOnLandProcessor.java._trace
/.NumberOfPassangersOnLandQuerySpecification.java._trace
/.PassangerAtRightPlaceProcessor.java._trace
/.PassangerAtRightPlaceQuerySpecification.java._trace
/.PassangerNotAtRightPlaceProcessor.java._trace
/.PassangerNotAtRightPlaceQuerySpecification.java._trace
/.PassangerOnMoreLandsProcessor.java._trace
/.PassangerOnMoreLandsQuerySpecification.java._trace
/.PassangerWithLandProcessor.java._trace
/.PassangerWithLandQuerySpecification.java._trace
/.PassangerWithoutLandProcessor.java._trace
/.PassangerWithoutLandQuerySpecification.java._trace
/.PassangersOnLandProcessor.java._trace
/.PassangersOnLandQuerySpecification.java._trace
/.SwitchLandProcessor.java._trace
/.SwitchLandQuerySpecification.java._trace
/.TravelerProcessor.java._trace
/.TravelerQuerySpecification.java._trace
/.UsedSeatsProcessor.java._trace
/.UsedSeatsQuerySpecification.java._trace
